.gallery {
  display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 0 auto;
}

.gallery__img {
	border-radius: 20px;
	width: 75%;
	height: 200px;
	margin-bottom: 40px;
}

.gallery__img:hover {
	transform: scale(0.95);
	transition: .1s ease-in-out;
}

@media screen and (min-width:481px) and (max-width: 767px) {
	.gallery__img {
		width: 45%;
	}
}

@media screen and (min-width:768px) and (max-width: 1023px) {

	.gallery__img {
		width: 28%;
	}
}

@media (min-width:1024px) {
	.gallery__img {
		width: 28%;
	}
}
